<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Deezer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-toolbar>

      <ion-searchbar type="text" placeholder="Artiste" (keyup.enter)="onSearchArtist($event)"></ion-searchbar>
    </ion-toolbar>

    <ion-card *ngFor="let artist of listArtist" (click) = "onClickArtist(artist.name)">
      <img src="{{artist.picture_medium}}"/>
      <div class="class-title">{{artist.name}}</div>
    </ion-card>

</ion-content>
